<div class="jumbotron">
  <h1 class="title">Hot Wheels</h1>
</div>

<div>
  <h3>Our clients have high expectations for their vehicles,
    and equally high expectations about the rentals and the professionals who serve them.
    <strong>HOT WHEELS</strong> is widely recognized to be among the best in quality, reliability,
    value and customer satisfaction in both sales and service </h3>

  <div class="row">
    <div class="col-md-2 mx-2 userForm">
      <div class="card text-center">
        <div class="card-body">
          <form>
            <div class="form-group">
              <input type="email" name="email" id="email" class="form-control" placeholder="Enter E-mail">
            </div>
            <div class="form-group">
              <input type="password" name="password" id="password" class="form-control" placeholder="Enter Password">
            </div>
            <div class="form-group">
              <button id="login" class="btn btn-danger btn-block ">
                Login
              </button>
            </div>
            <div class="form-group">
              <p>Don't have a member account yet?</p>
              <a href="/member" class="btn btn-success">Join US</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="return-login">
      <h2>Welcome</h2>
      <p>
      <div id="userName"></div>
      </p>
      <button class="btns" type="button" id="logout">Logout</button>
    </div>

    <div class="col-md-9">
      <div style="display: flex; flex-direction:column">
        <p id="vehicleType">Cars</p>
        <container>
          {{#each cars}}
          <div id={{model}} class="card" style="width: 18rem;">
            <img src="/img/{{model}}.jpg" class="card-img-top" alt={{model}}>
            <div class="card-body">
              <h5 class="card-title">
                <p><span id="makeFont">{{make}}<span> <span id="modelFont">{{model}}</span></p>
              </h5>
              <br>
              <p class="card-text">${{pricePerDay}} per day</p>
              <a href="#" data-make="{{make}}" data-model="{{model}}" class="rentMe btn btn-primary" data-toggle="modal"
                data-target="#myModal">Rent Me!</a>
            </div>
          </div>
          {{/each}}
        </container>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <img class="rentalCar" src="#">
        <h4 class="modal-title">{{make}} {{model}}</h4>
      </div>
      <div class="modal-body">
        <!--rental info goes below -->
        <div class="main-agilerow">
          <div class="sub-w3lsright agileits-w3layouts">

            <form action="#" method="post">
              {{!-- user name display on modal --}}
              User: <div id="userName2"></div>
              {{!-- customer id needed for post to transactions route --}}
              CustomerID: <div id="customerID"></div>
              Price: <div id="carPrice"></div>
              {{!-- <input type="text"  class="name" name="name" placeholder="Your Name" required="">
          <input type="email" name="email" placeholder="Enter your Email..." required="">
          <input type="text"  class="name" name="name" placeholder="Phone Number" required="">
          <div class="clear"> </div>
          <br/>
            <div class="main-row">
              <select name="country">
                <option value="none" selected="" disabled="">Select Brand</option>
                <option value="Job-2">Aston Martin</option>
                <option value="Job-3">Bentley</option>
                <option value="Job-4">Ferrari</option>
                <option value="Job-5">Koenigsegg</option>
                <option value="Job-6">Lamborghini</option>
                <option value="Job-6">Mclaren</option>
                <option value="Job-6">Maserati</option>
                <option value="Job-6">Mercedes</option>
                <option value="Job-6">Pagani</option>
                <option value="Job-6">Porsche</option>
                <option value="Job-6">Rolls-Royce</option>
                <option value="Job-6">Exclusive</option>
              </select>
              
            </div>
            <div class="main-row">
              <select name="country">
              <option value="none" selected="" disabled="">Type of Vehicle</option>
              <option value="Job-2">Car</option>
              <option value="Job-3">SUV</option>
            </select>
            <i></i>
          </div>
            <br/>
            <div class="content-wthree2">
              <div class="grid-w3layouts1">
                <div class="w3-agile1">
            </div>
          </div>	
          <div class="clear"> </div> --}}
              <input class="rentIt" type="submit" value="Rent Me!">
            </form>
          </div>
          <div class="clear"> </div>
        </div>
        <!-- end rental info-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{{!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> --}}
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/js/index.js"></script>